<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion_Capa.Properties.Settings.Sistema_De_ControlConnectionString"
            connectionString="Data Source=FABRII-PC;Initial Catalog=Sistema_De_Control;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion_Capa.Properties.Settings.ConnectionString"
            connectionString="Data Source=FABRII-PC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion_Capa.Properties.Settings.Sistema_De_ControlConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\elfab\OneDrive\Documentos\Aprendimientos\Cuarto Semestre\Lenguaje de Programacion\Trabajo Final\Acabado\Sistemade Registro de Estudiantes\Presentacion_Capa\Sistema_De_Control.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion_Capa.Properties.Settings.Sistema_De_ControlConnectionString2"
            connectionString="Data Source=FABRII-PC;Initial Catalog=Sistema_De_Control;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>